.panel--color > .panel-heading {
 height: 8rem;
}

.bg--silver {
 background-color: $silver;
}

.bg--gold {
 background-color: $gold;
}

.bg--black {
 background-color: $black;
}

.bg--copper {
 background-color: $copper;
}

.bg--bus {
 background-color: $bus;
}

.bg--coat {
 background-color: $coat;
}

.bg--fog {
 background-color: $fog;
}

.bg--metro {
 background-color: $metro;
}

.bg--brick {
 background-color: $brick;
}

.bg--light-gray {
 background-color: $light-gray;
}

.bg--suomenlinna {
 background-color: $suomenlinna;
}

.bg--engel {
 background-color: $engel;
}

.bg--tram {
 background-color: $tram;
}

.bg--summer {
 background-color: $summer;
}

.bg--dark-gray {
 background-color: $dark-gray;
}

.bg--medium-gray {
 background-color: $medium-gray;
}

.bg--white {
 background-color: $white;
}



.text--silver {
 color: $silver;
}

.text--gold {
 color: $gold;
}

.text--black {
 color: $black;
}

.text--copper {
 color: $copper;
}

.text--bus {
 color: $bus;
}

.text--coat {
 color: $coat;
}

.text--fog {
 color: $fog;
}

.text--metro {
 color: $metro;
}

.text--brick {
 color: $brick;
}

.text--light-gray {
 color: $light-gray;
}

.text--suomenlinna {
 color: $suomenlinna;
}

.text--engel {
 color: $engel;
}

.text--tram {
 color: $tram;
}

.text--summer {
 color: $summer;
}

.text--dark-gray {
 color: $dark-gray;
}

.text--medium-gray {
 color: $medium-gray;
}

.text--white {
 color: $white;
}