$icon-font-path: "";

// Helsinki bootstrap theme
// Variables
// --------------------------------------------------

// Brand colors

$white:         #ffffff;
$black:         #000000;
$copper:        #00d7a7;
$bus:           #0000bf;
$vaakuna:       #0072c6;
$fog:           #9fc9eb;
$metro:         #fd4f00;
$brick:         #db2719;
$suomenlinna:   #f5a3c7;
$engel:         #ffe977;
$spora:         #009246;
$summer:        #ffc61e;
$silver:        #dedfe1;
$gold:          #c2a251;

// Non brand colors

$light-gray:    #ebedf1;
$dark-gray:     #525a65;
$medium-gray:   #abb2bd;

$theme-primary-dark: $black;
$theme-primary-light: $engel;

$theme-highlight-dark: $bus;
$theme-highlight-light: $copper;

$bootstrap-sass-asset-helper: false !default;

