// Navbar overrides

.navbar-default {
  border-bottom: 1px solid $theme-primary-dark;

  .navbar-nav > .active > a {
    border-bottom: solid 3px $theme-primary-dark;
  }
}

.navbar-inverse {

  .navbar-nav > .active > a {
    border-bottom: solid 3px $theme-highlight-light;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: $font-size-base;
}

// Form element overrides

.help-block {
  font-size: 0.9em;
  color: $gray;
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: $theme-warning;
  }

  .form-control {
    border-color: $theme-warning;
    &:focus {
      border-color: $theme-warning;
      box-shadow: 0 0 0 1px $theme-warning;
    }
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: $theme-danger;
  }

  .form-control {
    border-color: $theme-danger;
    &:focus {
      border-color: $theme-danger;
      box-shadow: 0 0 0 1px $theme-danger;
    }
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: $theme-success;
  }

  .form-control {
    border-color: $theme-success;
    &:focus {
      border-color: $theme-success;
      box-shadow: 0 0 0 1px $theme-success;
    }
  }
}

// form element focus style
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $input-border;
  box-shadow: 0 0 0 1px $input-border;
}