.bs-component {
  margin-bottom: 2em;
}

.panel--color>.panel-heading {
  height: 8rem;
}

.bg--silver {
  background-color: $hel-silver !important;
  &:hover {
    background-color: lighten($hel-silver, 5%) !important;
  }
}

.bg--gold {
  background-color: $hel-gold !important;
  &:hover {
    background-color: lighten($hel-gold, 5%) !important;
  }
}

.bg--black {
  background-color: $black !important;
  &:hover {
    background-color: lighten($black, 5%) !important;
  }
}

.bg--copper {
  background-color: $hel-copper !important;
  &:hover {
    background-color: lighten($hel-copper, 5%) !important;
  }
}

.bg--bus {
  background-color: $hel-bus !important;
  &:hover {
    background-color: lighten($hel-bus, 5%) !important;
  }
}

.bg--coat {
  background-color: $hel-coat !important;
  &:hover {
    background-color: lighten($hel-coat, 5%) !important;
  }
}

.bg--fog {
  background-color: $hel-fog !important;
  &:hover {
    background-color: lighten($hel-fog, 5%) !important;
  }
}

.bg--metro {
  background-color: $hel-metro !important;
  &:hover {
    background-color: lighten($hel-metro, 5%) !important;
  }
}

.bg--brick {
  background-color: $hel-brick !important;
  &:hover {
    background-color: lighten($hel-brick, 5%) !important;
  }
}

.bg--light-gray {
  background-color: $light-gray !important;
  &:hover {
    background-color: lighten($light-gray, 3%) !important;
  }
}

.bg--suomenlinna {
  background-color: $hel-suomenlinna !important;
  &:hover {
    background-color: lighten($hel-suomenlinna, 5%) !important;
  }
}

.bg--engel {
  background-color: $hel-engel !important;
  &:hover {
    background-color: lighten($hel-engel, 5%) !important;
  }
}

.bg--tram {
  background-color: $hel-tram !important;
  &:hover {
    background-color: lighten($hel-tram, 5%) !important;
  }
}

.bg--summer {
  background-color: $hel-summer !important;
  &:hover {
    background-color: lighten($hel-summer, 5%) !important;
  }
}

.bg--dark-gray {
  background-color: $dark-gray !important;
  &:hover {
    background-color: lighten($dark-gray, 5%) !important;
  }
}

.bg--medium-gray {
  background-color: $medium-gray !important;
  &:hover {
    background-color: lighten($medium-gray, 5%) !important;
  }
}

.bg--white {
  background-color: $white !important;
}

.text--silver {
  color: $hel-silver;
}

.text--gold {
  color: $hel-gold;
}

.text--black {
  color: $hel-black;
}

.text--copper {
  color: $hel-copper;
}

.text--bus {
  color: $hel-bus;
}

.text--coat {
  color: $hel-coat;
}

.text--fog {
  color: $hel-fog;
}

.text--metro {
  color: $hel-metro;
}

.text--brick {
  color: $hel-brick;
}

.text--light-gray {
  color: $light-gray;
}

.text--suomenlinna {
  color: $hel-suomenlinna;
}

.text--engel {
  color: $hel-engel;
}

.text--tram {
  color: $hel-tram;
}

.text--summer {
  color: $hel-summer;
}

.text--dark-gray {
  color: $dark-gray;
}

.text--medium-gray {
  color: $medium-gray;
}

.text--white {
  color: $white;
}

.partition-test {
  color: $hel-white;
  padding: 2em;
  height: 12em;
  background-repeat: no-repeat;
}

.basic-bus-300 {
  @include koro("basic",$hel-bus, 300);
}

.storm-bus-300 {
  @include koro("storm",$hel-bus, 300);
}

.beat-bus-300 {
  @include koro("beat",$hel-bus, 300);
}

.pulse-bus-300 {
  @include koro("pulse",$hel-bus, 300);
}

.wave-bus-300 {
  @include koro("wave", $hel-bus, 300);
}

.beat-copper-100 {
  @include koro("beat", $hel-copper, 100);
}

.beat-suomenlinna-500 {
  @include koro("beat", $hel-suomenlinna, 500);
}

.storm-tram-250 {
  @include koro("storm", $hel-tram, 250);
}

.storm-engel-400 {
  @include koro("storm", $hel-engel, 400);
}
